h1{
 color:#4c006b
font-weight: bold;}  

#yellow-header{
	color:blue;
}

.navbar-inverse .navbar-nav li a {


}
body {
	background:#76f2ac;
	font-family: 'Anton', sans-serif;

}


#banan4{
	width: 500px;
	float: right;
}

#recept{
	margin-left: 20%;
}